<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @exchange.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
