<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td>
          <%= stock.exchange_name %> (<%= stock.exchange_code %>)<br/>
          <h4><b><%= stock.code %></b> <%= stock.name %><h4>
        </td>
        <td><%= number_to_currency stock.price %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
